html {
	height: 100%;
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	outline: 0;
	vertical-align: baseline;
}

body {
	height: 100%;
	margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

h1 {
	text-align: center;
	padding: 1em;
	/*font-family: 'Cinzel', serif;*/
	font-family: 'Philosopher', sans-serif;
	/*font-family: 'Asul', sans-serif;*/
	color: #262626;
	font-size: 7em;
	font-weight: lighter;
	color: yellow;
	margin: 0;
}

table {
	width: 100%;
}

h1, h2, p {
	margin: 0;
}

.start a {
	text-decoration: none;
	color: black;
	/*font-family: 'Asul', sans-serif;*/
	font-family: 'Philosopher', sans-serif;
	font-size: 2em;
}

.start a:hover {
	text-decoration: underline;
}

.works a {
	margin-left: 6em;
	float: left;
	color: yellow;
}

.about a {
	margin-right: 4em;
	float: right;
	color: yellow;
}

.start {
	height: 100%;
	background-image: url('imglibrary/heda.jpeg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}

#works {
	height: 100%;
	background-image: url('imglibrary/heda (kopia).jpeg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}

#about {
	height: 100%;
	background-image: url('imglibrary/heda (kopia).jpeg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}

#works h2 {
	/*font-family: 'Asul', sans-serif;*/
	font-family: 'Philosopher', sans-serif;
	color: white;
	font-size: 4em;
	padding: 0.5em 0.5em 0.5em 1em;
}

#about h2 {
	font-family: 'Philosopher', sans-serif;
	/*font-family: 'Asul', sans-serif;*/
	color: white;
	font-size: 4em;
	padding: 0.5em 0.5em 0.5em 1em;
}

#about h3 {
	font-family: 'Asul', sans-serif;
	font-size: 3em;
	padding-left: 1.5em;
}

#about p {
	font-family: 'Asul', sans-serif;
	color: white;
	font-size: 1.5em;
	padding-left: 1.5em;
	padding-right: 25em; 
	margin: 1em;
}

#about a {
	color: white;
}

#about a:hover {
	color: grey;
}

.photos {
	overflow: auto;
	white-space: nowrap;
	margin-left: 2em;
}

.img-show {
	width: 30%;
	padding: 0.5em;
}

/*
.btn {
	position: absolute;
	font-family: 'Asul', sans-serif;
	top: 90%;
	border: none;
	z-index: 99;
	outline: none;
	cursor: pointer;
	background-color: white;
}

.btn:hover {
	text-decoration: underline;
}
*/
/*
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');

 @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
  }

  @font-face {
  	font-family:GerstnerProgrammFSL-Light;
  	src: url(data:application/vnd.ms-fontobject);

.fadeIn {
	-webkit-animation: animat_show 0.8s;
	animation: animat_show 0.8s;
	visibility: visible !important;
}

@-webkit-keyframes animat_show {
	0%{opacity: 0}
	100%{opacity: 1}
}

.start {
	height: 100%;
	background-image: url("imglibrary/paris2.jpg");
	background-attachment: fixed;
	background-position: 55% 40%;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.name {
	padding: 1em;
	color: white;
	font-family: 'Asul', sans-serif;
}

.text-link {
	padding-left: 1em;
	color: white;
	font-family: 'Asul', sans-serif;
	text-decoration: none;
	font-size: 1.2em;
}

.text-link:hover {
	color: grey;
}

.work-link {
	right: 20%;
	width: 42%;
	padding-right: 10em;
	left: 20%;

}

.img-link {
	position: relative;
	size: 2em;
	width: 13%;
	height: auto;
	padding: 0;
	margin-left: 34.9%;
	margin-top: 14%;
	border: 0.5em solid yellow;
}

.img-link:hover {
	opacity: 0.5;
	background-color: black;
}

.work-wrap:hover {
	opacity: 0.5;
	background-color: black;
}


h1 {
	font-size: 1.2em;
}
*/

